node_modules/
.env
.DS_Store
*.log
server.pid
rafi/tokens.json
rafi/categories.json

# Nanie App Data
nanie/ella_cache.json
nanie/baileys_store*.json
nanie/auth_info_baileys/
nanie/node_modules/
nanie/auth_info_baileys_bak/
